<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
            <span class="help-block"
              *ngIf="!email.valid && email.touched">
              Please enter a valid email.
            </span>
        </div>
        <div class="form-group">
          <select id="type" class="form-control"
            [ngModel]="defaultQuestion"
            name="type">
            <option *ngFor="let option of options">
              {{ option.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control"
            ngModel
            name="password"
            required
            password
            #password="ngModel">
            <span class="help-block"
            *ngIf="!password.valid && password.touched">
              Please enter a password.
            </span>
        </div>
        <span class="help-block"
            *ngIf="!f.valid && f.touched">
              <h3>This form is invalid.</h3>
        </span>
      </form>
    </div>
  </div>
</div>
